CONFIG_TEXT_BASE=0x80080000
CONFIG_LNX_KRNL_IMG_TEXT_OFFSET_BASE=0x80000000
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x81000000
CONFIG_SYS_LOAD_ADDR=0x90000000
CONFIG_NR_DRAM_BANKS=2
CONFIG_BOOTDELAY=-1
# CONFIG_DEBUG_UART is not set
# CONFIG_SEMIHOSTING is not set
# CONFIG_PRE_CONSOLE_BUFFER is not set
# CONFIG_PCI is not set
# CONFIG_VIDEO is not set
# CONFIG_AHCI is not set
# CONFIG_SCSI is not set
# CONFIG_MTD is not set
# CONFIG_CFI_FLASH is not set
# CONFIG_SYS_FLASH_CFI is not set
# CONFIG_ENV_IS_IN_FLASH is not set
CONFIG_ENV_IS_NOWHERE=y
# CONFIG_USE_PREBOOT is not set
# CONFIG_EFI_MM_COMM_TEE is not set
# CONFIG_EFI_SECURE_BOOT is not set
# CONFIG_EFI_VARIABLE_FILE_STORE is not set
CONFIG_EFI_VARIABLE_NO_STORE=y
# CONFIG_TPM is not set
# CONFIG_UNIT_TEST is not set
# CONFIG_UTHREAD is not set
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_BLK=y
CONFIG_CMD_BOOTEFI=y
