#
# SPDX-License-Identifier: MIT
#

image efi-capsule-update-disk-image-apollo-qvp.img {
    hdimage {
        partition-table-type = "mbr"
    }
    partition update {
        image = "fs.vfat"
        partition-type = 0xEF
    }
}

image fs.vfat {
    vfat {
        file fw.cap {
            image = "@DEPLOY_DIR_IMAGE@/efi-capsule-update-image.img.uefi.capsule"
        }
    }
    size = 32M
    temporary = true
}
